{
  "extends": ["airbnb", "prettier"],
  "env": {
    "mocha": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
  ],
  "rules": {
    "no-mixed-operators": "off",
    "max-len": "off",
    "object-shorthand": "off",
    "global-require": "off",
    "no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "no-negated-condition": 0,
    "import/prefer-default-export": 0,
    "no-console": [
      "off"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
