.env
node_modules/
build/
dist/
logs/
.idea/
sessions/
uploads/
.DS_Store
.nyc_output/
coverage
.coveralls.yml
uploadsTest/
renderFolder/
yarn.lock
package-lock.json
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
